:root {
  --primary-color: #7fc29b;
  --secondary-color: #ffffff;
  --off-black: #1a1a1a;
  --off-black-translucent: rgba(26, 26, 26, 0.8);
  --dark-gray: #232323;
  --primary-font: 'Andale Mono', 'Source Code Pro', 'Cascadia Mono', sans-serif;

  font-family: var(--primary-font);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--secondary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #1a1a1a;
    --secondary-color: #000000;
    --off-black: rgb(196, 243, 216);
    --off-black-translucent: rgba(196, 243, 216, 0.8);
    --dark-gray: #7fc29b;
  }
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary-color);
}

html {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--off-black);
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--primary-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: transparent;
}

button:hover {
  border-color: var(--primary-color);
  color: var(--primary-color)
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  appearance: auto;
  color: var(--secondary-color);
  background-color: var(--dark-gray);
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: inset;
  border-right-style: inset;
  border-bottom-style: inset;
  border-left-style: inset;
  border-color: transparent;
  padding-top: 1px;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  user-select: text;
  cursor: auto;

  transition: border-color 0.25s;;
}

input:hover, input:focus, input:active {
  border-color: var(--primary-color);
  outline: none !important;
}

#root {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px;
  row-gap: 20px;
  column-gap: 40px;
}

.siteTitle {
  position: fixed;
  width: 100%;
  text-align: center;
  margin: 0;
  top: 0;
  font-size: 2.5em;
  line-height: 1.1;
  font-weight: 700;
  padding: 15px 15px 15px 15px;
  border-radius: 8px;
  background-color: var(--off-black-translucent);

  font-family: var(--primary-font);
}

/*
.
.
LOGIN BUTTON
.
.
*/
.loginButton {
  position: relative;
  background-color: var(--primary-color);
  color: var(--off-black);
  font-size: 1.25em;
  width: 100%;

  transition: all 0.25s ease-in-out;
}

.loginButton:hover {
  background-color: transparent;
  color: var(--primary-color);
}

/*
.
.
SEARCH BAR
.
.
*/
.searchBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.searchBar input {
  height: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  border-radius: 8px;
  padding: 0 5px 0 5px;

  font-family: var(--primary-font);
  font-size: 0.8em;
}

.searchBar button {
  height: 100%;
  box-sizing: border-box;
  padding: 0 15px 0 15px;
}

/*
.
.
PLAYLIST
.
.
*/
.playlist, .returnedSongs {
  width: 30%;
  display: flex;
  row-gap: 40px;
  flex-grow: 1;
  flex-direction: column;
}

.playlistHeader {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

#playlistTitle {
    font-size: 2em;
    line-height: 1.4;
    font-weight: 700;
    padding: 10px 15px 10px 15px;
    border-radius: 8px;

    font-family: var(--primary-font);
}

#playlistDescription {
    font-size: 1em;
    line-height: 1.4;
    font-weight: 400;
    padding: 10px 15px 10px 15px;
    border-radius: 8px;

    font-family: var(--primary-font);
}

.songArt {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 4px;
  overflow: hidden;
}

.albumArt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

/*
.
.
SEARCH RESULTS
.
.
*/
.resultsH1 {
    margin: 0;
    Line-height: 1.4em;
    padding: 10px 15px 10px 0;

}

.pagination {
  display: flex;
  width: 100%;
  gap: 10px;
}

.nextButton, .prevButton {
  flex-grow: 1;
  color: var(--secondary-color);
  border: 1px solid transparent;
  border-bottom: 1px solid var(--primary-color);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0 5px 0 5px;
  cursor: pointer;

  transition: all 0.25s ease-in-out;
}

.nextButton:hover, .prevButton:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.nextButton {
  text-align: right;
}

.prevButton {
  text-align: left;
}

.show {
  opacity: 1;
  pointer-events: auto;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

/*
.
.
SONG DISPLAY
.
.
*/
.song {
  border-bottom: 1px solid var(--primary-color);
  box-sizing: border-box;
  padding: 15px 0 15px 0;
  width: 100%;
  height: fit-content;

  display: grid;
  column-gap: 25px;
  row-gap: 10px;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 25px;
}

.songInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  flex-grow: 1;
}

.song h1 {
  margin: 0;
  font-size: 18pt;
  font-weight: 700;

  color: var(--secondary-color);
}

.song h3 {
  margin: 0;
  font-size: 11pt;
  font-weight: 200;
  line-height: 20px;
  flex-basis: 100%;

  color: var(--primary-color)
}

.addsong, .removesong {
  background-color: unset;
  padding: 0 10px 0 10px;
  line-height: 100%;
  color: var(--secondary-color);
  border: none;
  grid-column-start: 1;
  grid-column-end: span col2-end;
  text-align: right;

  transition: all 0.25s;
}
.addsong:hover, .removesong:hover {
  color: var(--off-black);
  background-color: var(--primary-color);
}




