.song {
  background: #ac92bb98;
  border: 1px solid white;
  color: #1a1a1a;
  box-sizing: border-box;
  padding: 25px;
  width: 100%;
  height: fit-content;
  border-radius: 10px;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  transition: background 0.1s ease-in;
}

.song:hover {
    background: #ac92bbd8;

}

.song h1 {
  margin: 0;
  font-size: 18pt;
  font-weight: 700;
  flex-grow: 3;
  order: 1;
  flex-basis: 90%;
}

.song h3 {
  margin: 0;
  font-size: 14pt;
  font-weight: 200;
  order: 3;
  line-height: 20px;
  flex-basis: 100%;
}

.addsong, .removesong {
  order: 2;
  background-color: unset;
  padding: 0;
  line-height: 100%;
  color: #1a1a1a;
}
.addsong:hover, .removesong:hover {
  color: #646cff;
}